* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    position: relative;
    min-height: 100vh;
}

header {
    background-color: #000; 
    color: #fff;
    padding: 20px 0; 
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 1000; 
}

header h1 {
    margin-left: 20px; 
    color: white; 
}

header h1 a {
    color: white;
}

/* #search-form {
    margin-right: 50px; 
    margin-left: 10px; 
}

#search-input {
    padding: 12px; 
    font-size: 16px; 
    width: 550px;
    height: 42px;
    border-radius: 5px; 
    border: none; 
    align-items: center;
}

#search-btn {
    padding: 12px; 
    font-size: 16px; 
    width: 120px;
    border-radius: 5px; 
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    cursor: pointer; 
    align-items: center;
}

#search-btn:hover {
    background-color: #0056b3; 
} */

.container {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px; 
    font-family: 'Agrandir', sans-serif; 
}

nav ul li a:hover{
    color: #595ce2;
    cursor: pointer;
}

.background {
    width: 100%;
    height: 100%;
    background-image: url('home_bg.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.navtext:hover {
    color: #595ce2;
}

.btn-container {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}

#bookseatbtn {
    color: white;
    padding: 15px;
    border: 2px solid white;
    outline: none;
    border-radius: 30px;
    background: transparent;
    font-size: 20px;
}

#bookseatbtn:hover {
    color: #595ce2;
    background-color: white;
    cursor: pointer;
}
